<h1>Consulta</h1>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Fone</th>
            <th>Genero</th>
            <th>Observação</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of listaCliente">
            <td>{{ c.nome }}</td>
            <td>{{ c.cpf }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.fone }}</td>
            <td>{{ c.genero }}</td>
            <td>{{ c.observacao }}</td>
            <td> <img src="https://app-ms-clientes.herokuapp.com/clientes/uploads/" alt="imagem"> {{ c.foto }}</td>
        </tr>
    </tbody>
</table>