<div class="container">
    <h1>Cadastro de Contatos</h1>
    <form #f="ngForm" (ngSubmit)="saveContato(f.value)">
        <input type="text" ngModel name="nome" placeholder="Informe nome" />
        <input type="email" ngModel name="email" placeholder="Informe email" />
        <input type="fone" ngModel name="fone" placeholder="Informe fone" />
        <label class="msg">{{ msg }}</label>
        <div class="botoes">
            <button class="btnSalvar">Salvar</button>
            <button class="btnCancelar">Cancelar</button>
        </div>
    </form>
    
</div>
